# COMMENTS : It is used to explain the code which enhances the readibilty of my code

two types of comments
1. single line
2. multiline

# single line

In [2]:
#this program is for displaying names
print("manav")
print("riya")

manav
riya

# multiline comments

In [5]:
'''this is my first program
here i am using the print function use 3'' to explain multiline '''
print("hello world")
print("hii")

hello world
hii

# VARIABLE= It is the container which is used to hold the data

 ## how to create the variables?

In [8]:
a=56 #a is the variable and 56 is the value assigned to a
b=65

id() - it is the inbuilt function of the python which tells the address of variable

In [9]:
print(id(a))
print(id (b))

1807824193488
1807824193776

In [10]:
a #access the variable

56

In [11]:
 b #access the variable

65

In [12]:
a+b

121

#  IDENTIFIER = it is the naming representation of variables functions etc.

- it starts with letters, special characters i.e., _
- it can have numbers , letters,spl. character i.e.,_  anywhere except at the beginning
- it is case sensitive
- it could be any length
- it should not be a keyword

## it starts with letters, special characters i.e., _

In [13]:
manav=90

In [14]:
_manav=20

In [15]:
1manav=300

SyntaxError: invalid decimal literal (339510144.py, line 1)

In [19]:
@manav= 30

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (181390921.py, line 1)

## it can have numbers , letters,spl. character i.e.,_ anywhere except at the beginning

In [16]:
balmeet123=20

In [17]:
balmeet_26=500

In [18]:
balmeet@23=40

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (525876190.py, line 1)

## it is case sensitive

In [20]:
balmeet=40

In [21]:
BALMEET=55

In [22]:
BALMEET

55

In [23]:
balmeet

40

## it could be any length

In [24]:
abCDefdg67_kom=60

In [25]:
abCDefdg67_kom

60

## it should not be a keyword

KEYWORDS- KEYWORDS ARE THE RESERVED WORDS IN THE PYTHON WHICH HAS SPECIAL MEANING.

In [28]:
import keyword

In [4]:
print (keyword.kwlist)

keyword.kwlist

In [3]:
if=100

SyntaxError: invalid syntax (586179600.py, line 1)

In [33]:
IF=39

In [34]:
If=68

# LITERAL: VALUE OF VARIABLE

In [11]:
A=90 ## HERE A IS VARIABLE AND 90 IS LITERAL

# DATA TYPES : defines the type of data that container/ variable contains.

- NUMERIC
  - INT
  - FLOAT
  - COMPLEX
- SEQUENCE
   - STRING
   - LIST
   - TUPLE
- BOOLEAN
- DICTIONARY
- SET

##INTEGER : WHOLE NUMBERS

In [4]:
A=90
print(A)
print(type(A))

90
<class 'int'>

## FLOAT: DECIMALS

In [7]:
b= 80.9
print(b)
print(type(b))

80.9
<class 'float'>

## COMPLEX: REAL + IMAGINARY NO.S

In [12]:
c=5+6j ## j is used for imaginary no. 5 is real no. 6j is imaginary no.
print(c)
print(type(c))

(5+6j)
<class 'complex'>

## Boolean or bool: True/False

In [15]:
x=True
print(x)
print(type(x))

True
<class 'bool'>

In [16]:
Y= False
print(Y)
print(type(Y))

False
<class 'bool'>

In [17]:
X= TRUE
print(type(X))

NameError: name 'TRUE' is not defined

# SEQUENCE TYPE
 ## STRING = TEXTUAL DATA
 ### WE HAVE THREE WAYS TO CREATE STRINGS

In [19]:
a='madrid'
print(a)
print(type(a)) ## use single ''

madrid
<class 'str'>

In [20]:
c='4509'
print(c)
print (type(c))

4509
<class 'str'>

In [21]:
t= 'hi how'r you'
print(t)
print(type(t))

SyntaxError: unterminated string literal (detected at line 1) (1115649705.py, line 1)

In [22]:
a="madrid"
print(type(a)) ## double string

<class 'str'>

In [26]:
t= "hi how'r you "
print(type(t))

<class 'str'>

In [24]:
## multiline strings 3''''''

 # LIST: it is the ordered collection of multiple data
 use [] for list

In [28]:
l=["riya",80,20,927806789,"madrid"] ## heter ogeneous as contains diff. data types
print(l)
print(type(l))

['riya', 80, 20, 927806789, 'madrid']
<class 'list'>

In [30]:
p=[80.5,60.8,67.9,89.7] ## homogeneous as it contains only float data
print(p)
print (type(p))

[80.5, 60.8, 67.9, 89.7]
<class 'list'>

# TUPLE : SIMILAR AS LIST
use() tuple

In [31]:
t=("manav","da",989067890,"madrid")
print(t)
print(type(t))

('manav', 'da', 989067890, 'madrid')
<class 'tuple'>

set n dictionary will be discussed later

# TYPE CASTING: TYPE CONVERSION

## STR TO INT

In [39]:
s="90"
print(s)
print(type(s))
a=int(s)
print(a)
print(type(a))

90
<class 'str'>
90
<class 'int'>

# int to str

In [35]:
a=123
print(a)
print(type(a))
a1=str(a)
print(a1)
print(type(a1))

123
<class 'int'>
123
<class 'str'>

# int to float

In [37]:
x=1234
print(x)
print(type(x))
y=float(x)
print(y)
print(type(y))

1234
<class 'int'>
1234.0
<class 'float'>

## float to int

In [38]:
d=89.7
print(d)
print(type(d))
h=int(d)
print(h)
print(type(h))

89.7
<class 'float'>
89
<class 'int'>

## int to bool

In [41]:
a=10 ## any positive or neg numbers is true and 0 is false.
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

10
<class 'int'>
True
<class 'bool'>

## bool to int

In [42]:
a=False
print(a)
print(type(a))
a1=int(a)
print(a1)
print(type(a1)) ## false=0 true=1

False
<class 'bool'>
0
<class 'int'>

# str to float

In [43]:
s="144.6" ## no letters can be changed
print(s)
print(type(s))
s1=float(s)
print(s1)
print(type(s1))

144.6
<class 'str'>
144.6
<class 'float'>

In [44]:
s="madrid"
print(s)
s1=float(s)
print(s1)
print(type(s1))

madrid

ValueError: could not convert string to float: 'madrid'

## str to int

In [46]:
s="124.8" ## it requires double conversion
print(s)
print(type(s))
s1=float(s)
s2=int(s1)
print(s2)
print(type(s2)) ## after point no. will be trunketed

124.8
<class 'str'>
124
<class 'int'>

## str to list

In [48]:
s="madrid solution"
print(s)
print(type(s))
s1=list(s)
print(s1)
print(type(s1))

madrid solution
<class 'str'>
['m', 'a', 'd', 'r', 'i', 'd', ' ', 's', 'o', 'l', 'u', 't', 'i', 'o', 'n']
<class 'list'>

## tuple to list

In [49]:
t=(90,90,80)
print(t)
print(type(t))
a=list(t)
print(a)
print(type(a))

(90, 90, 80)
<class 'tuple'>
[90, 90, 80]
<class 'list'>

## tuple/list to str

In [51]:
t=(78,90,67)
print(t)
print(type(t))
h=str(t)
print(h)
print(type(h))

(78, 90, 67)
<class 'tuple'>
(78, 90, 67)
<class 'str'>

In [52]:
l=[90,80,78]
print(type(l))
j=str(l)
print(j)
print(type(j))

<class 'list'>
[90, 80, 78]
<class 'str'>

In [53]:
j

'[90, 80, 78]'

## INPUT AND OUTPUT FUNCTIONS

-INPUT= can be used to take a value from user.

-PRINT-= used to show output on default output which is screen.

# input

In [9]:
x=input() # it takes the input from user n print it in form of strings. by default input would be in string form

9

In [10]:
x

'9'

In [8]:
type(x)

str

In [6]:
y=input("enter the name") ## you can add values inside ""

enter the nameihkik

In [ ]:
type(y)

In [7]:
y

'ihkik'

In [5]:
x

'7'

In [25]:
roll=input("enter number-")

enter number-67

In [26]:
roll

'67'

### print function -  inbuilt function which displays the output

used to print something  use shift+ tab to view properties of any inbuilt functions

In [12]:
 print("hello")## you can add single value inside ""

hello

In [34]:
print("riya","balmeet","adi",roll, x) ## you can add multiple values by using , and then "

riya balmeet adi 67 9

In [28]:
print("riya","balmeet","adi",roll, x, sep="-") ## sep(seperator ) default is space

riya-balmeet-adi-67-9

In [33]:
print("hiii", end=",") ## end by default is new line u can use to chnge it
print("how are you" ,end="=--------")
print("what is your age?")

hiii,how are you=--------what is your age?

## operators= used for computation

-arithmetic operators
-relational operators
-logical operators
-bitwise 
-special: membership (in or not in)

## arithmetic

sum, sub, multiply, divide,floor div, exponnet, modulus

In [40]:
num1=(int(input("enter first digit")))
num2=(int(input("enter 2nd digit")))
print(num1+num2)
print("the sum of",num1,"and",num2, "is",num1+num2)
print("the sub of",num1,"and",num2 ,"is",num1-num2)
print("the product of",num1,"and",num2 ,"is",num1*num2)
print("the divide of", num1,"and", num2 ,"is",num1/num2)
print("the floor division of", num1,"and", num2, "is",num1//num2)
print("the modulus of", num1,"and", num2 ,"is",num1%num2)
print("the exponent of", num1,"and", num2 ,"is",num1**num2)

enter first digit50
enter 2nd digit70
120
the sum of 50 and 70 is 120
the sub of 50 and 70 is -20
the product of 50 and 70 is 3500
the divide of 50 and 70 is 0.7142857142857143
the floor division of 50 and 70 is 0
the modulus of 50 and 70 is 50
the exponent of 50 and 70 is 84703294725430033906832250067964196205139160156250000000000000000000000000000000000000000000000000000000000000000000000

## relational operators

In [41]:
num1= int(input("enter first no."))
num2= int(input("enter second no."))
print("equal to",num1==num2)
print("not equal to",num1!=num2)
print("greater to",num1>num2)
print("greater than or equal ",num1>=num2)
print("less",num1<num2)
print("equal or less than",num1<=num2)

enter first no.5
enter second no.8
equal to False
not equal to True
greater to False
greater than or equal  False
less True
equal or less than True

## logical operators
-and

-or

-not

## or

In [42]:
print("or")
print("True-False:",True or False)
print("True-False:",False or False)
print("True-False:",False or True) ## or works if one is true then answer is true
print("True-False:",True or True)

or
True-False: True
True-False: False
True-False: True
True-False: True

In [52]:
print(0 or 5)
print(5 or 15)
print(0 or 0) ## pos. and neg. integers are true and 0 is false

5
5
0

## and

In [43]:
print("and")
print("True-False:",True and False)
print("True-False:",False and False)
print("True-False:",False and True) ## and if one is false answer is false
print("True-False:",True and True)

and
True-False: False
True-False: False
True-False: False
True-False: True

In [50]:
print(8 and 9)
print( 0 and 0)
print(0 and 8)

9
0
0

## NOT

In [60]:
print("not") ## not toggles if you give false it will be true AND VICE VERSA
print("True-False:", True not False)
print("True-False:", False not True) 
print("True-False:", True not True)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3399264206.py, line 2)

In [53]:
not(0)

True

## membership operator
bitwise skip

In [54]:
"mad" in "madrid"

True

In [57]:
"mad" in["madrid","80",0,"hello"] # in line it will examine component as whole not letter

False

In [58]:
"0" in[90,"0","jii",0] # IF IN STRING

True

In [61]:
67 not in["HLL",0,"67","NOT",67]

False

## is and is not: identity or location

In [68]:
a=90
b=70
print(id (a))
print(id(b))
print(a is  not b) ## not compulsory to mention print in last line
a is b

2079289379856
2079289379216
True

False


# ESCAPE SEQUENCE: IF THE SEQUENCE OF CHARACTERS WHICH DOESNOT PRESENT AS A NORMAL CHARACTERS BUT THEY ARE CONVERTED INTO DIFFERENT MEANINGS.

\n =  by default generates new line

In [1]:
print("hllo")

hllo

In [2]:
print("\n")

 ## print (/n and \n)

In [6]:
print("hello\n hii")

hello
 hii

In [7]:
print("/n")

/n

In [13]:
print("\\n") ## use \\ double back slash to suppress the meaning of the special character

\n

## \t: generates the tab means space

TASK \t /t

In [14]:
print("/t")

/t

In [15]:
print("\t")

In [16]:
print ("hello \t hii")

hello 	 hii

In [17]:
print("\\t")

\t

\\'  use for apostrophi

In [18]:
print("hi how'r you")

hi how'r you

In [19]:
print('hi how'r you')

SyntaxError: unterminated string literal (detected at line 1) (3590042375.py, line 1)

In [21]:
print('hi how\'r you')

hi how'r you

In [23]:
print ('hi how \\'r you')

SyntaxError: unterminated string literal (detected at line 1) (35010734.py, line 1)

# \b backspace

In [26]:
print("hello\b")

hello

Raj has 24 candies, simran has 34 candies, aditya has 21 candies . Candies would be equally distributed
How many candies need to be distributed to each of them and remaning candies need to given to diksha ?

In [5]:
 raj=24
simran=34
aditya=21 
total=print("the total no. of candies", raj+simran+aditya)

the total no. of candies 79

In [34]:
equal=print("equal candies",79/3)
equal=26.333333333332
print(type(equal))
candies=int(equal)
print(candy)

equal candies 26.333333333333332
<class 'float'>
26

In [28]:
    total=print(26+26+26)

78

In [35]:
diksha= print("diksha will get",79-78,"candy"  )

diksha will get 1 candy